*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* *********HEADER********* */


header{
  background-color: white;
  color: black;
}

header .img{
  padding-left: 20px;
  padding: 20px;
  vertical-align: middle;

}

h1{
  font-size: 2.5rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  vertical-align: middle;
}


/* ********MAIN*********** */


main{
  background-color: #F6F8FA;
}

.conteiner{
  max-width: 785px;
  background-color: white;
  margin: 0 auto;
}