*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* *********HEADER********* */

body{
  background-color: #F6F8FA;

}


header{
  background-color: white;
  color: black;
  padding-bottom: 5px;
}

header .img{
  padding-left: 20px;
  padding: 20px;
  vertical-align: middle;
  
}

h1{
  font-size: 2.5rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: middle;
}

.sfondo{
  background-color:white;
  border-radius: 2%;
  padding-left: 30px;
  padding-top: 30px;
  margin: 40px;

/* ********MAIN*********** */



.conteiner{
  max-width: 785px;
  background-color: white;
  margin: 0 auto;
}

.add{
  padding-bottom: 50px;
}


button{
  display: inline-block ;
  background-color: #49ACF2;
  color: white;
  border-radius: 10%;
  padding: 10px;
  border-color:white;
}


h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1,5rem;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.liste{
  padding: 20px;
}


.check{
  color: lightgreen;
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  vertical-align: middle
}

.cross{
 color: red;

}


.elenco{
  padding: 10px;

}

.editorial{
  background-color: #49ACF2;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 25x;
  vertical-align: middle;
  text-align: center;
  border-radius: 10%;
  margin: 5px
}

.q-goals{
  background-color: #9C73E0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 25x;
  vertical-align: middle;
  text-align: center;
  border-radius: 10%;
  margin: 5px
}

.recruiting{
  background-color:#67C1AC;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 25x;
  vertical-align: middle;
  text-align: center;
  border-radius: 10%;
  margin: 5px
}

.mobile{
  background-color:#EEA030;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 25x;
  vertical-align: middle;
  text-align: center;
  border-radius: 10%;
  margin: 5px
}

.website{
  background-color: #D8679F;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 25x;
  vertical-align: middle;
  text-align: center;
  border-radius: 10%;
  margin: 5px;
}

.sales{
  background-color: #B1CA30;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  width: 80px;
  height: 25px;
  line-height: 25x;
  vertical-align: middle;
  text-align: center;
  border-radius: 10%;
  margin: 5px
}